@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #fff;
  color: #222;
  line-height: 1.55;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  padding-bottom: 0px;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@keyframes scroll-attorneys {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-attorneys {
  animation: scroll-attorneys 20s linear infinite;
}